# Toolkits

Toolkits são conjuntos de ferramentas. Para alguns toolkits, agent específicos já foram criado na estrutura do LangChain e é isto que vamos explorar agora.

https://python.langchain.com/v0.1/docs/integrations/toolkits/

## Pandas Dataframe

In [4]:
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv"
)
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.shape

(891, 12)

In [5]:
chat = ChatOpenAI(model='gpt-3.5-turbo-0125')
agent = create_pandas_dataframe_agent(
    chat,
    df,
    verbose=True,
    agent_type='tool-calling'
)

In [6]:
agent.invoke({'input': 'Quantas linhas tem na tabela?'})

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': 'len(df)'}`


891A tabela possui 891 linhas.

> Finished chain.

{'input': 'Quantas linhas tem na tabela?',
 'output': 'A tabela possui 891 linhas.'}

In [8]:
agent.invoke({'input': 'Qual a média da idade dos passageiros?'})

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['Age'].mean()"}`


29.69911764705882A média da idade dos passageiros é de aproximadamente 29.70 anos.

> Finished chain.

{'input': 'Qual a média da idade dos passageiros?',
 'output': 'A média da idade dos passageiros é de aproximadamente 29.70 anos.'}

In [9]:
agent.invoke({'input': 'Quantos passageiros sobreviveram?'})

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['Survived'].sum()"}`


342Houve um total de 342 passageiros que sobreviveram ao acidente.

> Finished chain.

{'input': 'Quantos passageiros sobreviveram?',
 'output': 'Houve um total de 342 passageiros que sobreviveram ao acidente.'}

## SQL Database

In [10]:
from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri('sqlite:///arquivos/Chinook.db')

In [11]:
from langchain_community.agent_toolkits.sql.base import create_sql_agent
from langchain_openai import ChatOpenAI

chat = ChatOpenAI(model='gpt-3.5-turbo-0125')

agent_executor = create_sql_agent(
    chat,
    db=db,
    agent_type='tool-calling',
    verbose=True
)

In [13]:
for tool in agent_executor.tools:
    print(tool.name)
    print(tool.description)
    print()

sql_db_query
Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.

sql_db_schema
Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3

sql_db_list_tables
Input is an empty string, output is a comma-separated list of tables in the database.

sql_db_query_checker
Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

In [14]:
agent_executor.invoke({'input': 'Me descreva a base de dados'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track'}`



CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/A base de dados possui as seguintes tabelas:

1. Album:
   - Colunas: AlbumId, Title, ArtistId
   - Exemplo de 3 linhas:
     - AlbumId: 1, Title: For Those About To Rock We Salute You, ArtistId: 1
     - AlbumId: 2, Title: Balls to the Wall, ArtistId: 2
     - AlbumId: 3, Title: Restless and Wild, ArtistId: 2

2. Artist:
   - Colunas: ArtistId, Name
   - Exemplo de 3 linhas:
     - ArtistId: 1, Name: AC/DC
     - ArtistId: 2, Name: Accept
     - ArtistId: 3, Name: Aerosmith

3. Customer:
   - Colunas: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId
   - Exemplo de 3 linhas:
     - CustomerId: 1, FirstName: Luís, LastName: Gonçalves, Company: Embraer - Empresa Brasileira de Aeronáutica S.A., Address: Av. Brigadeiro Faria Lima, 2170, City: São José dos Campos, State: SP, Country: Brazil, PostalCode: 12227-000, Phone: +55 (12) 3923-5555, Fax: +55 (12) 3923-5566, Email: luisg@embraer.com.br, SupportRepId: 3
     - CustomerId: 2, FirstName: Leonie, LastName: Köhler, Company: None, Address: Theodor-Heuss-Straße 34, City: Stuttgart, State: None, Country: Germany, PostalCode: 70174, Phone: +49 0711 2842222, Fax: None, Email: leonekohler@surfeu.de, SupportRepId: 5
     - CustomerId: 3, FirstName: François, LastName: Tremblay, Company: None, Address: 1498 rue Bélanger, City: Montréal, State: QC, Country: Canada, PostalCode: H2G 1A7, Phone: +1 (514) 721-4711, Fax: None, Email: ftremblay@gmail.com, SupportRepId: 3

4. Employee:
   - Colunas: EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email
   - Exemplo de 3 linhas:
     - EmployeeId: 1, LastName: Adams, FirstName: Andrew, Title: General Manager, ReportsTo: None, BirthDate: 1962-02-18, HireDate: 2002-08-14, Address: 11120 Jasper Ave NW, City: Edmonton, State: AB, Country: Canada, PostalCode: T5K 2N1, Phone: +1 (780) 428-9482, Fax: +1 (780) 428-3457, Email: andrew@chinookcorp.com
     - EmployeeId: 2, LastName: Edwards, FirstName: Nancy, Title: Sales Manager, ReportsTo: 1, BirthDate: 1958-12-08, HireDate: 2002-05-01, Address: 825 8 Ave SW, City: Calgary, State: AB, Country: Canada, PostalCode: T2P 2T3, Phone: +1 (403) 262-3443, Fax: +1 (403) 262-3322, Email: nancy@chinookcorp.com
     - EmployeeId: 3, LastName: Peacock, FirstName: Jane, Title: Sales Support Agent, ReportsTo: 2, BirthDate: 1973-08-29, HireDate: 2002-04-01, Address: 1111 6 Ave SW, City: Calgary, State: AB, Country: Canada, PostalCode: T2P 5M5, Phone: +1 (403) 262-3443, Fax: +1 (403) 262-6712, Email: jane@chinookcorp.com

5. Genre:
   - Colunas: GenreId, Name
   - Exemplo de 3 linhas:
     - GenreId: 1, Name: Rock
     - GenreId: 2, Name: Jazz
     - GenreId: 3, Name: Metal

Essas são algumas das tabelas presentes na base de dados, cada uma com suas respectivas colunas e exemplos de linhas.

> Finished chain.

{'input': 'Me descreva a base de dados',
 'output': 'A base de dados possui as seguintes tabelas:\n\n1. Album:\n   - Colunas: AlbumId, Title, ArtistId\n   - Exemplo de 3 linhas:\n     - AlbumId: 1, Title: For Those About To Rock We Salute You, ArtistId: 1\n     - AlbumId: 2, Title: Balls to the Wall, ArtistId: 2\n     - AlbumId: 3, Title: Restless and Wild, ArtistId: 2\n\n2. Artist:\n   - Colunas: ArtistId, Name\n   - Exemplo de 3 linhas:\n     - ArtistId: 1, Name: AC/DC\n     - ArtistId: 2, Name: Accept\n     - ArtistId: 3, Name: Aerosmith\n\n3. Customer:\n   - Colunas: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId\n   - Exemplo de 3 linhas:\n     - CustomerId: 1, FirstName: Luís, LastName: Gonçalves, Company: Embraer - Empresa Brasileira de Aeronáutica S.A., Address: Av. Brigadeiro Faria Lima, 2170, City: São José dos Campos, State: SP, Country: Brazil, PostalCode: 12227-000, Phone: +55 (12) 3923-5555, Fax: +55 (12) 3923-5566, Email: luisg@embraer.com.br, SupportRepId: 3\n     - CustomerId: 2, FirstName: Leonie, LastName: Köhler, Company: None, Address: Theodor-Heuss-Straße 34, City: Stuttgart, State: None, Country: Germany, PostalCode: 70174, Phone: +49 0711 2842222, Fax: None, Email: leonekohler@surfeu.de, SupportRepId: 5\n     - CustomerId: 3, FirstName: François, LastName: Tremblay, Company: None, Address: 1498 rue Bélanger, City: Montréal, State: QC, Country: Canada, PostalCode: H2G 1A7, Phone: +1 (514) 721-4711, Fax: None, Email: ftremblay@gmail.com, SupportRepId: 3\n\n4. Employee:\n   - Colunas: EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email\n   - Exemplo de 3 linhas:\n     - EmployeeId: 1, LastName: Adams, FirstName: Andrew, Title: General Manager, ReportsTo: None, BirthDate: 1962-02-18, HireDate: 2002-08-14, Address: 11120 Jasper Ave NW, City: Edmonton, State: AB, Country: Canada, PostalCode: T5K 2N1, Phone: +1 (780) 428-9482, Fax: +1 (780) 428-3457, Email: andrew@chinookcorp.com\n     - EmployeeId: 2, LastName: Edwards, FirstName: Nancy, Title: Sales Manager, ReportsTo: 1, BirthDate: 1958-12-08, HireDate: 2002-05-01, Address: 825 8 Ave SW, City: Calgary, State: AB, Country: Canada, PostalCode: T2P 2T3, Phone: +1 (403) 262-3443, Fax: +1 (403) 262-3322, Email: nancy@chinookcorp.com\n     - EmployeeId: 3, LastName: Peacock, FirstName: Jane, Title: Sales Support Agent, ReportsTo: 2, BirthDate: 1973-08-29, HireDate: 2002-04-01, Address: 1111 6 Ave SW, City: Calgary, State: AB, Country: Canada, PostalCode: T2P 5M5, Phone: +1 (403) 262-3443, Fax: +1 (403) 262-6712, Email: jane@chinookcorp.com\n\n5. Genre:\n   - Colunas: GenreId, Name\n   - Exemplo de 3 linhas:\n     - GenreId: 1, Name: Rock\n     - GenreId: 2, Name: Jazz\n     - GenreId: 3, Name: Metal\n\nEssas são algumas das tabelas presentes na base de dados, cada uma com suas respectivas colunas e exemplos de linhas.'}

In [15]:
agent_executor.invoke({'input': 'Qual artista possui mais albuns?'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Album, Artist'}`



CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/
Invoking: `sql_db_query` with `{'query': 'SELECT Artist.Name, COUNT(Album.AlbumId) AS Number_of_Albums FROM Artist JOIN Album ON Artist.ArtistId = Album.ArtistId GROUP BY Artist.ArtistId ORDER BY Number_of_Albums DESC LIMIT 1'}`


[('Iron Maiden', 21)]O artista que possui mais álbuns é "Iron Maiden", com um total de 21 álbuns.

> Finished chain.

{'input': 'Qual artista possui mais albuns?',
 'output': 'O artista que possui mais álbuns é "Iron Maiden", com um total de 21 álbuns.'}

In [16]:
agent_executor.invoke({'input': 'Qual o cliente que mais comprou?'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Customer, Invoice, InvoiceLine'}`



CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/
Invoking: `sql_db_query` with `{'query': "SELECT c.FirstName || ' ' || c.LastName AS CustomerName, SUM(il.UnitPrice * il.Quantity) AS TotalSpent\nFROM Customer c\nJOIN Invoice i ON c.CustomerId = i.CustomerId\nJOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId\nGROUP BY c.CustomerId\nORDER BY TotalSpent DESC\nLIMIT 1;"}`
responded: Para encontrar o cliente que mais comprou, precisamos analisar a tabela "Customer" para obter o nome do cliente e a tabela "InvoiceLine" para obter os detalhes das compras. Vamos juntar essas tabelas para calcular o total gasto por cada cliente e identificar o cliente que mais comprou.

Aqui está a consulta para encontrar o cliente que mais comprou:

```sql
SELECT c.FirstName || ' ' || c.LastName AS CustomerName, SUM(il.UnitPrice * il.Quantity) AS TotalSpent
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
GROUP BY c.CustomerId
ORDER BY TotalSpent DESC
LIMIT 1;
```

Vou executar a consulta para obter a resposta.

[('Helena Holý', 49.620000000000005)]O cliente que mais comprou foi Helena Holý, com um total gasto de $49.62.

> Finished chain.

{'input': 'Qual o cliente que mais comprou?',
 'output': 'O cliente que mais comprou foi Helena Holý, com um total gasto de $49.62.'}